openapi: 3.0.0
info:
  title: Portal API
  description: PortalAPIのOpenAPI Spec
  version: 2.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers: []
security: []
tags:
- name: "applications"
  description: "アプリケーション関連のAPI"
- name: "health"
  description: "ヘルスチェック関連のAPI"
externalDocs: {}
paths:
  /health/liveness:
    get:
      tags:
        - "health"
      summary: "Get Liveness Status"
      description: "liveness statusを取得するAPI"
      operationId: "GetHealthLiveness"
      responses:
        default:
          description: "デフォルトのレスポンス"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '200':
          description: "Liveness statusの取得成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthCheckStatus"
  /health/readiness:
    get:
      tags:
        - "health"
      summary: "Get Readiness Status"
      description: "readiness statusを取得するAPI"
      operationId: "GetHealthReadiness"
      responses:
        default:
          description: "デフォルトのレスポンス"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '200':
          description: "Readiness statusの取得成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthCheckStatus"
  /v1alpha1/applications:
    get:
      tags:
        - "applications"
      summary: "Get Applications"
      description: "アプリケーション一覧を取得するAPI"
      operationId: "GetApplications"
      responses:
        default:
          description: "デフォルトのレスポンス"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '200':
          description: "アプリケーション一覧の取得成功"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Application"
    post:
      tags:
        - "applications"
      summary: "Create Application"
      description: "アプリケーションを作成するAPI"
      operationId: "CreateApplication"
      requestBody:
        description: "作成するアプリケーションの情報"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApplicationRequest"
      responses:
        default:
          description: "デフォルトのレスポンス"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '201':
          description: "アプリケーションの作成成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"
  /v1alpha1/applications/{name}:
    get:
      tags:
        - "applications"
      summary: "Get Application"
      description: "特定のアプリケーションを取得するAPI"
      operationId: "GetApplication"
      parameters:
        - name: "name"
          in: "path"
          description: "アプリケーション名"
          required: true
          schema:
            type: "string"
      responses:
        default:
          description: "デフォルトのレスポンス"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '200':
          description: "アプリケーションの取得成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
      required:
        - code
        - message
    HealthCheckStatus:
      type: object
      properties:
        status:
          type: string
      required:
        - status
    Application:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        display_id:
          type: string
        repository_url:
          type: string
        appconfig_path:
          type: string
        appconfig_branch:
          type: string
      required:
        - id
        - name
        - display_id
        - repository_url
        - appconfig_path
        - appconfig_branch
    CreateApplicationRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        repository_url:
          type: string
        appconfig_path:
          type: string
        appconfig_branch:
          type: string
      required:
        - name
        - repository_url
        - appconfig_path
        - appconfig_branch